@media (min-width: 600px) {
  /* ========================================
   БЛОК: Контейнер графика датчика
   ======================================== */
  .sensor-graph-container {
    width: 90%;
    height: 50%;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 

  /* ========================================
   БЛОК: Сам график
   ======================================== */
  .sensor-graph {
    width: 90%;
    height: 100%;
    background: #1e1e1e;
    border-radius: 8px;
    margin-top: 15px;
  }
}
